* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.main-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  background-color: #f5f5f5;
}

.game-model {
  width: 296px;
}