/* Cover image style */
.cover-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
}

.cover-image {
  width: 50px;
  height: 35px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}